<html>
<!--<body background= "http://cdn.cnn.com/cnnnext/dam/assets/170407220907-01-iconic-mountains-k2-restricted.jpg">-->
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
        <title>TRIGENDA</title>
    </head>
    <body>
        <link href="static/style.css" rel="stylesheet">
        
        <center>
            <!--<div id= "header">-->
            <h1>Trigenda</h1>
            <!--</div>-->
            </center>
        
        <center>
            <h2>Select a location in the dropbar.</h2>
            </center>
       
        <center><form>
            <select>
  <option value="NewYorkCity">New York City</option>
  <option value="HongKong">Hong Kong</option>
  <option value="Madrid">Madrid</option>
  <option value="Chicago">Chicago</option>
            </select>
            <input type="submit" value="Submit"/>
        </form></center>
    </body>
</html>